/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2160fd;
  --ifm-color-primary-dark: #1959fc;
  --ifm-color-primary-darker: #0f51f8;
  --ifm-color-primary-darkest: #0042e7;
  --ifm-color-primary-light: #3d72f8;
  --ifm-color-primary-lighter: #477af8;
  --ifm-color-primary-lightest: #6791fc;
  --ifm-code-font-size: 85%;
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical)*4) !important;
  --ifm-font-size-base: 94% !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1a90ff;
  --ifm-color-primary-dark: #1959fc;
  --ifm-color-primary-darker: #0f51f8;
  --ifm-color-primary-darkest: #0042e7;
  --ifm-color-primary-light: #3d72f8;
  --ifm-color-primary-lighter: #477af8;
  --ifm-color-primary-lightest: #6791fc;
  --ifm-background-surface-color: #18191a !important;
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical)*4) !important;
  --ifm-font-size-base: 94% !important;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

nav.menu.thin-scrollbar.menu_izAj {
    padding: 1em !important;
}

.table-of-contents {
    padding-top: 0 !important;
}

.footer__copyright {
    padding-top: 2em !important;
    font-weight: bold;
}

.navbar {
    box-shadow: none !important;
}

.padding-bottom--lg, .padding-vert--lg {
    padding-bottom: 5rem!important;
}

aside.theme-doc-sidebar-container.docSidebarContainer_rKC_ {
    margin-right: 1rem;
}
